.landingPage {
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
}

@media (max-width: 768px) {
  .introductionSection {
    order: 1;
  }
  .lessonPlanSection {
    order: 2;
  }
  .moreCoursesSection {
    order: 5;
  }
  .moreInformationSection {
    order: 3;
  }
  .studentCommentsSection {
    order: 4;
  }
  .relationArticlesSection {
    order: 6;
  }
}
