.studentComments {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 752px;
  margin: 0 auto;
}

.valorization {
  display: flex;
  align-items: center;
}

.valorization img {
  width: 22px;
  height: 22px;
  margin-right: 9px;
}

.valorization h2 {
  font-weight: 400;
  font-size: 20px;
  color: #858479;
  text-transform: uppercase;
}

.valorization span {
  color: #c5af19;
}

@media (max-width: 768px) {
  .studentComments {
    width: 100%;
    padding-left: 8px;
    margin-bottom: 30px;
  }

  .valorization {
    display: none;
  }

  .comments {
    display: flex;
    align-items: center;

    width: 100%;
    overflow-x: scroll;
  }

  .comments::-webkit-scrollbar {
    display: none;
  }
}
