.slider {
  display: flex;
  justify-content: center;

  width: 100%;
  background-color: #fff;
  border-radius: 4px;
  height: 320px;
  margin: 40px 0;
  transition: all 300ms ease-in-out;
}

.slider > img {
  width: 50%;
  height: 100%;
  object-fit: cover;
  transition: all 300ms ease-in-out;
  border-radius: 4px 0px 0px 4px;
}

.heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  width: 50%;
  padding: 30px 42px;
  font-weight: 400;
}

.heading h1 {
  font-size: 28px;
  color: #1d1a05;
  margin-bottom: 15px;
  text-transform: uppercase;
}

.heading p {
  font-size: 16px;
  color: #858479;
  margin-bottom: 30px;
}

.nextImages {
  display: flex;
  align-items: center;
}

.allImages {
  display: none;
}

@media (max-width: 768px) {
  .heading {
    padding-left: 8px;
    padding-right: 0;
    width: 100%;
    text-align: center;
  }

  .heading h1 {
    font-size: 16px;
    color: #fff;
  }

  .heading p {
    margin-bottom: 10px;
    padding-right: 8px;
  }

  .slider {
    background-color: transparent;
  }

  .slider > img {
    display: none;
  }

  .nextImages {
    display: none;
  }

  .allImages {
    display: flex;
    align-items: center;
    overflow-x: scroll;
    width: 100%;
  }

  .allImages::-webkit-scrollbar {
    display: none;
  }
}
