.moreCourses {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 1136px;
  margin: 0 auto;
  margin-bottom: 40px;
}

.moreCourses > div {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
}

@media (max-width: 1136px) {
  .moreCourses {
    width: 100%;
    padding: 0 8px;
    overflow-y: scroll;
    margin-bottom: 32px;
  }

  .moreCourses::-webkit-scrollbar {
    display: none;
  }

  .moreCourses > div {
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}

@media (max-width: 768px) {
  .moreCourses {
    height: 360px;
  }
}
