.workload {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  margin-top: 32px;
  position: relative;
}

.workload .belowSection {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 50%;
}

.workload > button {
  position: absolute;
  right: 0;
}

.workload .mobileWorkload {
  display: none;
}

@media (max-width: 768px) {
  .workload {
    padding: 0 8px;
    flex-direction: column;
    margin-top: 15px;
    position: initial;
  }

  .workload > button {
    position: initial;
    right: initial;
  }

  .belowSection {
    order: 2;
    margin-top: 24px;
    min-width: 200px;
  }

  .workload .mobileWorkload {
    display: initial;
    order: 3;
    width: 100%;
  }
}
