.subComment {
  display: flex;
  flex-direction: column;

  padding-top: 11px;
  margin-top: 16px;
  border-top: 1px solid #858479;
}

.subComment p,
.subComment h5 {
  font-weight: 400;
  font-size: 16px;
  color: #858479;
  margin-bottom: 9px;
}

.subComment p {
  margin-top: 0;
}

.subComment > div {
  display: flex;
  align-items: center;
}

.subComment img {
  width: 20px;
  height: 20px;
  margin-right: 6px;
}

.subComment h3 {
  color: #c5af19;
  font-weight: 700;
  font-size: 16px;
  text-transform: none;
  margin: 0;
  cursor: pointer;
  transition: all 200ms ease-in-out;
}

.subComment h3:hover {
  filter: brightness(1.5);
}

.subComment h5 {
  margin-left: 5px;
  margin-bottom: 0;
}
