.lessonPlan {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.lessons {
  display: flex;
  flex-direction: column;

  background-color: #f6f4ef;
  border-radius: 4px;
  width: 944px;
  height: 805px;
  margin-bottom: 41px;
  padding: 0 16px;
}

.viewAll {
  outline: none;
  border: 2px solid #1d1a05;
  border-radius: 4px;
  height: 40px;
  width: 180px;
  border-radius: 4px;
  align-self: center;
  margin-top: -20px;
  color: #1d1a05;
  font-size: 12px;
  font-weight: 700;
  cursor: pointer;
  transition: all 200ms ease-in-out;
}

.viewAll:hover {
  transform: scale(1.05);
  filter: brightness(1.2);
}

.mobileStudentSatisfaction {
  display: none;
}

@media (max-width: 944px) {
  .lessonPlan {
    padding: 0 8px;
  }

  .lessons {
    width: 100%;
    height: auto;
    padding-bottom: 33px;
  }
}

@media (max-width: 768px) {
  .lessons {
    background-color: transparent;
  }

  .mobileStudentSatisfaction {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin-bottom: 32px;
    padding: 0 16px;
    margin-top: 24px;
  }

  .mobileStudentSatisfaction > div {
    display: flex;
    align-items: center;

    margin-bottom: 15px;
  }

  .mobileStudentSatisfaction img {
    width: 40px;
    height: 40px;
    margin-right: 20px;
  }

  .mobileStudentSatisfaction h2 {
    font-weight: 700;
    font-size: 12px;
    color: #d8d7ce;
    text-transform: uppercase;
  }

  .mobileStudentSatisfaction p {
    font-weight: 400;
    font-size: 14px;
    color: #858479;
  }
}
