.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;

  background: url("../../assets/images/jump-water.png");
  background-repeat: no-repeat;
  background-size: 100%;
  object-fit: contain;
  height: 480px;
  width: 100%;
  font-weight: 400;
  text-align: center;
}

.banner h1 {
  font-size: 36px;
  color: #fff;
  margin-bottom: 11px;
}

.banner h2 {
  font-size: 28px;
  color: #999;
}

.banner span {
  color: #d8d7ce;
}

@media (max-width: 768px) {
  .banner {
    background: url("../../assets/images/swimming.png");
    background-repeat: no-repeat;
    object-fit: cover;
    background-size: 100%;
  }
}
